DATABASE_NAME=marketplace_db_orders
DATABASE_USERNAME=orders_user
DATABASE_PASSWORD=some_password_123
DATABASE_PORT=5432
DATABASE_URL=postgresql+asyncpg://$DATABASE_USERNAME:$DATABASE_PASSWORD@postgres_orders:$DATABASE_PORT/$DATABASE_NAME
MIGRATION_DATABASE_URL=postgresql+psycopg2://$DATABASE_USERNAME:$DATABASE_PASSWORD@postgres_orders:$DATABASE_PORT/$DATABASE_NAME

JWT_SECRET=some_secret